<section class="env-pane">
  <div class="env-pane-header">
    <div id="env-pane-header-title">
      <h1>Active Environments</h1>
    </div>

    <div class="env-pane-header-actions">
      <button mat-button class="view-action" routerLink="/create-env" matTooltip="Create a new environment">
        Create
      </button>
      <button mat-button class="view-action" (click)="onClickRefresh()">
        Refresh
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>
  @if (showProgressBar(status$ | async)) {
    <mat-progress-bar mode="indeterminate" aria-label="Loading env list data"></mat-progress-bar>
  }

  @if (envs$ | async; as envList) {
    <div>
      @if (envList.length > 0) {
        <div>
          @for (env of envList; track env) {
            <li>
              <app-env-card [env]="env"></app-env-card>
            </li>
          }
        </div>
      } @else {
        <h3>Nothing here yet ...</h3>
      }
    </div>
  } @else {
    <h3>Nothing here yet ...</h3>
  }

</section>
