<div class="container">
    <mat-toolbar class="cloud-android-toolbar">
        <h1 routerLink="/" class="cloud-android-title">Cloud Android</h1>

        <div class="toolbar-actions">
            <button mat-button aria-label="Show all environments" routerLink="/">
                <mat-icon>devices</mat-icon>
                Environments
            </button>

            <button mat-button aria-label="Runtime & host management board" routerLink="/list-runtime">
                <mat-icon>settings_system_daydream</mat-icon>
                Runtimes
            </button>
        </div>
    </mat-toolbar>

    <mat-sidenav-container class="drawer-container">
        <mat-sidenav-content>
            <div class="page">
                <router-outlet></router-outlet>
            </div>
            <div class="version-info">
                {{ version }}
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>