@if (getRuntimeCard(runtimeAlias) | async; as runtimeCard) {
  <mat-card class="runtime-card">
    <mat-card-content> Alias: {{ runtimeCard.alias }} </mat-card-content>
    <mat-card-content> Type: {{ runtimeCard.type }} </mat-card-content>
    <mat-card-content> URL: {{ runtimeCard.url }} </mat-card-content>
    <div class="runtime-card-header">
      @if (runtimeCard.status === 'valid') {
        <button mat-icon-button aria-label="Add host button" matTooltip="Add host" (click)="onClickAddHost()">
          <span class="google-symbols"> library_add </span>
        </button>
      }
      @if (runtimeCard.status === 'error') {
        <button mat-icon-button aria-label="Status" class="error-status">
          <span class="google-symbols"> error </span>
        </button>
      }
    </div>
    <div class="runtime-card-footer">
      <button mat-icon-button matTooltip="Unregister runtime" (click)="onClickUnregister(runtimeCard.alias)">
        <span class="google-symbols"> delete </span>
      </button>
    </div>
    @if (runtimeCard.status === 'valid') {
      <mat-card-content>
        Zones &amp; Hosts:
        <ul>
          @for (host of runtimeCard.hosts; track host) {
            <li class="host-item">
              <div class="host-header">
                <div>{{ host.name }} ({{ host.zone }}) ({{ host.status }})</div>
                @if (isRunning(host)) {
                  <button mat-icon-button class="host-delete-button" (click)="onClickDeleteHost(host)">
                    <span class="google-symbols"> delete </span>
                  </button>
                }
              </div>
              <ul>
                @for (env of host.envs; track env) {
                  <li>{{ env.groupName }}</li>
                }
              </ul>
            </li>
          }
        </ul>
      </mat-card-content>
    }
  </mat-card>
}
