<mat-card class="runtime-card">
    <mat-card-content> Alias: {{ runtime?.alias }} </mat-card-content>

    <mat-card-content> Type: {{ runtime?.runtime_type }} </mat-card-content>

    <mat-card-content> URL: {{ runtime?.url }} </mat-card-content>

    <div class="runtime-card-header">
        <button *ngIf="runtime?.status === 'valid'" mat-icon-button aria-label="Add host button" matTooltip="Add host" (click)="onClickAddHost()">
            <span class="google-symbols"> library_add </span>
        </button>

        <button *ngIf="runtime?.status == 'error'" mat-icon-button aria-label="Status" class="error-status">
            <span class="google-symbols"> error </span>
        </button>
    </div>

    <div class="runtime-card-footer">
        <button mat-icon-button matTooltip="Unregister runtime" (click)="onClickDelete(runtime?.alias)">
            <span class="google-symbols"> delete </span>
        </button>
    </div>

    <mat-card-content *ngIf="runtime?.status === 'valid'">
        Zones & Hosts:
        <ul>
            <li>
                us-central1-c
                <ul style="margin-top: 0px">
                    <li class="host-item">
                        <div class="host-header">
                            <div>Host1</div>
                            <button mat-icon-button class="host-delete-button">
                                <span class="google-symbols"> delete </span>
                            </button>
                        </div>
                        <ul>
                            <li>group-1</li>
                            <li>group-2</li>
                            <li>group-3</li>
                        </ul>
                    </li>

                    <li class="host-item">
                        <div class="host-header">
                            <div>Host2</div>
                            <button mat-icon-button class="host-delete-button">
                                <span class="google-symbols"> delete </span>
                            </button>
                        </div>
                        <ul>
                            <li>group-1</li>
                            <li>group-2</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                ap-northeast2-a
                <ul style="margin-top: 0px">
                    <li class="host-item">
                        <div class="host-header">
                            <div>Host1</div>
                            <button mat-icon-button class="host-delete-button">
                                <span class="google-symbols"> delete </span>
                            </button>
                        </div>
                        <ul>
                            <li>group-1</li>
                            <li>group-2</li>
                        </ul>
                    </li>

                    <li class="host-item">
                        <div class="host-header">
                            <div>Host2</div>
                            <button mat-icon-button class="host-delete-button">
                                <span class="google-symbols"> delete </span>
                            </button>
                        </div>
                        <ul>
                            <li>group-1</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </mat-card-content>
</mat-card>