WebStaticFilesPath = "web"

# List of allowed origins
# e.g. "https://localhost:8080"
CORSAllowedOrigins = []

[AccountManager]
Type = "unix"

[AccountManager.OAuth2]
Provider = "Google"
RedirectURL = "http://localhost:8080/oauth2callback"

[SecretManager]
Type = "unix"

[SecretManager.GCP]
OAuth2ClientResourceID = ""

[SecretManager.UNIX]
SecretFilePath = "../secrets.json"

[EncryptionService]
Type = "Fake"

[EncryptionService.GCP_KMS]
KeyName = ""

[DatabaseService]
Type = "InMemory"

[DatabaseService.Spanner]
DatabaseName = "projects/<project id>/instances/<instance id>/databases/<database>"

[InstanceManager]
Type = "unix"
HostOrchestratorProtocol = "http"
AllowSelfSignedHostSSLCertificate = true

[InstanceManager.GCP]
ProjectId = ""
HostImageFamily = ""
HostOrchestratorPort = 1080

[InstanceManager.UNIX]
HostOrchestratorPort = 1081

[WebRTC]
STUNServers = ["stun:stun.l.google.com:19302"]

# List of allowed origins
# e.g. "https://localhost:8080"
CorsAllowedOrigins = []
