WebStaticFilesPath = "web"

[AccountManager]
Type = "unix"

[InstanceManager]
Type = "unix"

[InstanceManager.GCP]
ProjectId = ""
HostImage = ""

[Infra]
STUNServers = ["stun:stun.l.google.com:19302"]
