<section class="runtime-view">
  <div class="runtime-view-header">
    <div id="runtime-view-header-title">
      <h1>Runtimes</h1>
    </div>

    <div class="runtime-view-header-actions">
      <button
        mat-button
        routerLink="/register-runtime"
        matTooltip="Register a new runtime"
        class="view-action"
        >
        Register
      </button>
      <button mat-button class="view-action" (click)="onClickRefresh()">
        Refresh
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>
  @if (showProgressBar(status$ | async)) {
    <mat-progress-bar
      mode="indeterminate"
      aria-label="Loading runtimes data"
    ></mat-progress-bar>
  }

  @if (runtimes$ | async; as runtimeList) {
    <div>
      @if (runtimeList.length > 0) {
        <div>
          @for (runtime of runtimeList; track runtime) {
            <li>
              <app-runtime-card [runtimeAlias]="runtime.alias"></app-runtime-card>
            </li>
          }
        </div>
      } @else {
        <h3>No runtime registered</h3>
      }
    </div>
  }
</section>
